.box:last-child
  margin-bottom: -px

@keyframes expand
  0%
    transform: scale(0)
  20%
    transform: scale(.9975)
  80%
    transform: scale(1.0025)

body .box
  min-height: 300px
  position: relative
  display: flex
  flex-direction: column

// animation: expand .1s
.back_link
  position: absolute
  left: 10px
  top: 10px
  i
    color: lightgrey
    font-size: 20px
    &:hover
      color: black

.corner_button
  position: absolute
  top: 20
  right: 20
