@import bulma
@import table.sass
@import 'alertify.core'
@import 'alertify.default'

html, body
  height: 100%
  background: #e5edfb

.swivel_warning
  display: none

@media screen and (max-width: 80em) and (orientation: portrait)
  .swivel_warning
    display: flex
    flex-direction: column
    jusftify-content: space-around
    background: rgba(0,0,0,.9) 
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 9999
    i
      font-size: 200
      color: white
      margin: auto
      text-align: center
      display: block


// .notification a:hover, a:hover
//   border-bottom: 1px solid lime
//   text-decoration: none

.notification
  margin: 20px 0
  a.title, .title
    text-decoration: none

a:hover .title
  font-weight: bold
  text-shadow: 1px 1px grey

.notification .link_list
  background: radial-gradient(rgba(250,250,250,.10) 20%, rgba(250,250,250,.05) 40%, rgba(250,250,250,.025) 60%,  rgba(0,0,0,0) 50%)
  a, a:hover
    font-size: 15px
    margin-bottom: 4px
    text-decoration: none
    border-bottom: none
  a:hover
    text-shadow: 1px 1px rgba(10,10,10,.25)

.box
  padding: 40px

.label.select,
.select.input_wrapper
  display: block
  height: auto
  &::after
    content: none

.select.input_wrapper
  margin-bottom: 10px

#content_container
  min-height: 100%
  display: flex
  flex-direction: column
  position: absolute
  left: 200px
  width: calc(100% - 200px)
  &> .row > .box
    max-width: 800px

.clickable, [data-url], [data-url] *, button, .button
  cursor: pointer

.hidden
  display: none

.zeroheight, .zeroheight *
  max-height: 0

.baseline
  align-items: baseline

.underlined
  text-decoration: underline

.level.is-mobile p.level-item
  margin-right: 0
