@import bulma
@import table.sass
@import 'alertify.core'
@import 'alertify.default'

html, body
  height: 100%
  background: #e5edfb

// .notification a:hover, a:hover
//   border-bottom: 1px solid lime
//   text-decoration: none

.notification
  margin: 20px 0
  a.title, .title
    text-decoration: none

a:hover .title
  font-weight: bold
  text-shadow: 1px 1px grey

.notification .link_list
  background: radial-gradient(rgba(250,250,250,.10) 20%, rgba(250,250,250,.05) 40%, rgba(250,250,250,.025) 60%,  rgba(0,0,0,0) 50%)
  a, a:hover
    font-size: 15px
    margin-bottom: 4px
    text-decoration: none
    border-bottom: none
  a:hover
    text-shadow: 1px 1px rgba(10,10,10,.25)

.box
  padding: 40px

.label.select,
.select.input_wrapper
  display: block
  height: auto
  &::after
    content: none

.select.input_wrapper
  margin-bottom: 10px

#content_container
  min-height: 80%
  &> .row > .box
    max-width: 800px
    max-height: 80%

.clickable, [data-url], [data-url] *, button, .button
  cursor: pointer

.hidden
  display: none

.zeroheight, .zeroheight *
  max-height: 0

.baseline
  align-items: baseline

.level.is-mobile p.level-item
  margin-right: 0
