#menu_bar
  position: fixed
  display: flex
  flex-direction: column
  justify-content: center
  top: 0
  left: 0
  width: 200px
  background: black
  height: 100vh
  padding: 2em
#link_list
  color: grey
  font-size: 1.3em
  li
    margin-bottom: 1em
  i
    margin-right: .5em
  .hr
    border-bottom: 2px solid grey
    max-width: 80%
    margin-bottom: 1em
  a
    align-items: center
    color: #666
    display: flex
    *
      transition: transform .2s
    &:hover *
      transform: scale(1.3)
