@for $px from 1 to 30
  .mb-#{5 * $px}x
    margin-bottom: #{5 * $px}px
@for $px from 1 to 30
  .mt--#{5 * $px}x
    margin-top: #{-5 * $px}px

.t-center
  text-align: center

.column
  display: flex
  flex-direction: column
  flex-grow: 1

.row
  display: flex
  flex-direction: row

.row.center
  justify-content: center

.space-around
  justify-content: space-around

.space-between
  justify-content: space-between


.column.middle
  flex-grow: 1
  justify-content: center
