table
  overflow: hidden
  table-layout: fixed
  width: 100%
  thead
    border-bottom: 3px solid grey
  tbody
    tr, td
      background: none
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    tr:hover
      background: lighten(lightgrey, 10%)
    tr:not(:last-of-type), tr:last-of-type.form_row
      border-bottom: 1px solid lightgrey
    td:not(:last-of-type)
      border-right: 1px solid lightgrey
    a
      text-decoration: none
      border-bottom: none
    [data-url]
      cursor: pointer
  tbody.scrollbox
    max-height: 30vh
    overflow: scroll
    width: 100%
  .title
    font-size: inherit
    font-weight: inherit
.notification.is-warning table
  background: radial-gradient(lighten(#ffdd57, 5%), #ffdd57)
  tr, td
    background: none
  tr:hover
    background: lighten(#ffdd57, 8%)
  tr:not(:last-of-type)
    border-bottom: 1px solid tan
  td:not(:last-of-type)
    border-right: 1px solid tan
  a
    border-bottom: none
    text-decoration: none
  [data-url]
    cursor: pointer


.left-button
  cursor: pointer
  display: flex
  flex-direction: column
  left: -30px
  position: absolute
  top: 35px

  i.material-icons
    font-size: 35px

.pagination
  align-items: left
  border-left: 1px solid grey
  display: flex
  flex-direction: column
  position: absolute
  right: -24px
  min-width: 30px
  top: 40px
  .next_page, .previous_page
    display: none
  a, em
    margin: 1px
    padding: 2px
    transform: translate(-1.5px)
    border:
      bottom: 1px solid grey
      bottom-right-radius: 5px
      right: 2px solid grey
      top: 1px solid grey
      top-right-radius: 5px
    &.current
      transform: translate(-2.5px)
  em
    background: white
    border-left: 3px solid white
  a
    border-left: 1px solid grey
    background: lightgrey

.barred_out
  background: repeating-linear-gradient( 45deg, lightgrey, lighten(lightgrey, 10%) 8px, white 8px, darken(white, 10%) 16px )

.form_row
  overflow-y: visible
  position: relative
  &.animated
    animation-duration: .4s
  &.even_spaced
    .control
      width: 20%
  tr, td, form
    margin: 0
    padding: 0
  input
    border: none
    border-radius: 0
    box-shadow: none
    margin: 0
  select
    border-radius: 0
    box-shadow: none
    border: none
    border-right: 1px solid lightgrey
  input[type='submit']
    left: 0
    position: relative
