table
  table-layout: fixed
  width: 100%
  thead
    border-bottom: 3px solid grey
  tbody
    tr, td
      background: none
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    tr:hover
      background: lighten(lightgrey, 10%)
    tr:not(:last-of-type), tr:last-of-type.form_row
      border-bottom: 1px solid lightgrey
    td:not(:last-of-type)
      border-right: 1px solid lightgrey
    a
      text-decoration: none
      border-bottom: none
    [data-url]
      cursor: pointer
  tbody.scrollbox
    max-height: 30vh
    width: 100%
    overflow: scroll
  .title
    font-size: inherit
    font-weight: inherit
.notification.is-warning table
  background: radial-gradient(lighten(#ffdd57, 5%), #ffdd57)
  tr, td
    background: none
  tr:hover
    background: lighten(#ffdd57, 8%)
  tr:not(:last-of-type)
    border-bottom: 1px solid tan
  td:not(:last-of-type)
    border-right: 1px solid tan
  a
    text-decoration: none
    border-bottom: none
  [data-url]
    cursor: pointer


.left-button
  cursor: pointer
  display: flex
  flex-direction: column
  left: -30px
  position: absolute
  top: 35px

  i.material-icons
    color: lightgrey
    font-size: 35px
    &:hover
      color: black

.pagination
  align-items: left
  border-left: 1px solid grey
  display: flex
  flex-direction: column
  right: -20px
  top: 50px
  position: absolute
  .next_page, .previous_page
    display: none
  a, em
    margin: 1px
    padding: 2px
    transform: translate(-2.5px)
    border:
      bottom: 1px solid grey
      top: 1px solid grey
      right: 2px solid grey
      top-right-radius: 5px
      bottom-right-radius: 5px
  em
    background: white
    border-left: 3px solid white
  a
    border-left: 1px solid grey
    background: lightgrey

.form_row
  position: relative
  overflow-y: visible
  tr, td, form
    padding: 0
    margin: 0
  input
    margin: 0
    border: none
    box-shadow: none
  input[type='submit']
    position: relative
    left: 0
